# Task 2: Feb Internship Logic Building Task â€“ 2
## Name: Pradnya Kate
## Internship: Innomatics Research Labs
## Tool Used: Google Colab

In [1]:
# Problem 1 - Unique words

text = input("Enter a sentence: ")

word_list = text.split()      # splitting sentence
unique = set(word_list)       # removing duplicates

print("Unique words count:", len(unique))
print("Unique words:", unique)

Enter a sentence: My first name is pradnya and last name is kate
Unique words count: 8
Unique words: {'first', 'pradnya', 'and', 'kate', 'My', 'name', 'last', 'is'}

In [2]:
# Problem 2 - Highest salary

emp = {
    "Pradnya": 75000,
    "Sanika": 68000,
    "Kiran": 72000
}

max_name = ""
max_salary = 0

for name in emp:
    if emp[name] > max_salary:
        max_salary = emp[name]
        max_name = name

print("Highest Salary:", max_name, "-", max_salary)

Highest Salary: Pradnya - 75000

In [3]:
# Problem 3 - Max and Min

nums = [45, 22, 89, 10, 66]

maximum = nums[0]
minimum = nums[0]

for n in nums:
    if n > maximum:
        maximum = n
    if n < minimum:
        minimum = n

print("List:", nums)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
# Problem 4 - Count prices above 1000

prices = [450, 1200, 899, 1500, 300]

count = 0

for p in prices:
    if p > 1000:
        count = count + 1

print("Products above 1000:", count)

Products above 1000: 2

In [5]:
# Problem 5 - Attendance percentage

att = ["P", "P", "A", "P", "P"]

present = 0

for day in att:
    if day == "P":
        present += 1

percentage = (present / len(att)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [6]:
# Problem 6 - Remove duplicate numbers

numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
# Problem 7 - Count character frequency

word = "python"

freq = {}

for ch in word:
    if ch in freq:
        freq[ch] = freq[ch] + 1
    else:
        freq[ch] = 1

print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
# Problem 8 - List to tuple

lst = [10, 20, 30]

tup = tuple(lst)

print("Tuple:", tup)

Tuple: (10, 20, 30)

In [9]:
# Problem 9 - Check key in dictionary

emp = {"Prachi": 75000, "Anita": 68000}

name = "Prachi"

if name in emp:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

In [10]:
# Problem 10 - Average marks

marks = [70, 80, 65, 75]

total = 0

for m in marks:
    total += m

avg = total / len(marks)

print("Average Marks:", avg)

Average Marks: 72.5